@import "../../styles/_variables";
@import "../../styles/shared/drop-down-list";

.drop-down {
    display: inline-block;
    position: relative;
}

.drop-down-button-container {
    display: inline-block;
}

.drop-down-menu-container {
    display: inline-block;
    position: absolute;
}

.drop-down-icon-container {
    margin-left: calc(var(--element-margin, #{$element-margin}) / 2);

    display: flex;
    align-items: center;
    justify-content: center;
}
