@import "../../styles/_variables";

.drop-down {
    position: relative;
}

.drop-down-menu
{
    background-color: white;
    border: 1px solid var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    list-style: none;
    margin: 0;
    padding: calc(var(--element-padding, #{$element-padding}) / 2) 0;
    position: absolute;
    width: 20rem;
    z-index: 10000;
}

.drop-down-menu-item {
    a,
    button.link {
        color: var(--text-color, $text-color);
        display: block;
        padding: calc(var(--element-padding, #{$element-padding}) / 4) var(--element-padding, $element-padding);
        width: 100%;
    }

    a:hover,
    a:focus,
    button.link:hover,
    button.link:focus {
        background-color: var(--select-color, $select-color);
        color: white;
        text-decoration: none;
    }
}

.drop-down-menu-divider {
    margin: calc(var(--element-margin, #{$element-margin}) / 4) var(--element-margin, $element-margin);
    border-bottom: 1px solid var(--border-color, $border-color);
}
