@import "../../styles/_variables";

.tag {
    background-color: var(--light-back-color, $light-back-color);
    border: 1px solid var(--border-color, $border-color);
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-right: calc(var(--element-margin, #{$element-margin}) / 4);
    padding: 0 calc(var(--element-padding, #{$element-padding}) / 4);
    white-space: nowrap;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tag.primary,
.tag.info,
.tag.success,
.tag.warning,
.tag.danger {
    border: 1px solid rgba(0, 0, 0, 0.06);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.tag.primary {
    background-color: var(--primary-color, $primary-color);
    color: var(--primary-text-color, $primary-text-color);
}

.tag.info {
    background-color: var(--info-color, $info-color);
    color: var(--info-text-color, $info-text-color);
}

.tag.success {
    background-color: var(--success-color, $success-color);
    color: var(--success-text-color, $success-text-color);
}

.tag.warning {
    background-color: var(--warning-color, $warning-color);
    color: var(--warning-text-color, $warning-text-color);
}

.tag.danger {
    background-color: var(--danger-color, $danger-color);
    color: var(--danger-text-color, $danger-text-color);
}

.tag.cancel {
    background-color: var(--cancel-color, $cancel-color);
}

.tag-close {
    margin-left: calc(var(--element-margin, #{$element-margin}) / 4);
    margin-right: calc(var(--element-margin, #{$element-margin}) * -1 / 4);
}
