@import "../../styles/_variables";

.dialog {
    background-color: white;
    border-radius: var(--border-radius, $border-radius);
    max-height: 32rem;
    min-height: 14rem;
    max-width: 48rem;
    min-width: 32rem;
    overflow: auto;
    z-index: 9900;

    display: flex;
    flex-direction: column;
}

.dialog-background {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;

    display: flex !important;
    align-items: center;
    justify-content: center;
}

.dialog-header {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;
    margin: 0;
    padding: var(--element-padding, $element-padding) var(--element-padding, $element-padding) 0;
    flex: 0 0 auto;
}

.dialog-body {
    padding: var(--element-padding, $element-padding);
    flex: 1 1 auto;
}

.dialog-footer {
    background-color: var(--middle-back-color, $middle-back-color);
    padding: calc(var(--element-padding, #{$element-padding}) / 4 * 3);
    text-align: right;
    flex: 0 0 auto;
}
