@import "../../styles/_variables";
@import "../../styles/shared/button-base";

.pagination {
    padding: calc(var(--element-padding, #{$element-padding}) / 2) 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    margin-left: calc(var(--element-margin, #{$element-margin}) / 2);
    padding: calc(var(--element-padding, #{$element-padding}) / 4) calc(var(--element-padding, #{$element-padding}) / 2);
    min-width: 3rem;
}

.pagination-button.active {
    background-color: var(--select-color, $select-color);
    border-color: var(--select-color, $select-color);
    color: var(--select-text-color, $select-text-color);
    font-weight: bold;
}

.pagination-button:disabled,
.pagination-button:disabled:hover,
.pagination-button:disabled:focus {
    background-color: var(--disabled-color, $disabled-color);
    color: var(--disabled-text-color, $disabled-text-color);
    cursor: default;
}
