@import "../../styles/_variables";

.notification {
    background-color: var(--light-back-color, $light-back-color);
    border: 1px solid var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    display: inline-flex;
    margin: 0 0 var(--element-margin, $element-margin);
    padding: calc(var(--element-padding, #{$element-padding}) / 2) var(--element-padding, $element-padding);
    width: 100%;
}

.notification:last-child {
    margin: 0;
}

.notification-content {
    flex: 1 1 auto;
}

.notification-close {
    flex: 0 0 auto;
    margin-left: var(--element-margin, $element-margin);
    margin-right: calc(var(--element-margin, #{$element-margin}) * -1 / 2);
}

.notification.primary,
.notification.info,
.notification.success,
.notification.warning,
.notification.danger {
    :global(a) {
        color: inherit;
        border-bottom: 1px solid;
    }
    :global(a:hover),
    :global(a:focus) {
        border-bottom: 1px double;
    }
}

.notification.primary.solid,
.notification.info.solid,
.notification.success.solid,
.notification.warning.solid,
.notification.danger.solid {
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.notification.primary {
    background-color: var(--light-primary-color, $light-primary-color);
    border: 1px solid var(--light-primary-border-color, $light-primary-border-color);
    color: var(--light-primary-text-color, $light-primary-text-color);
}

.notification.primary.solid {
    background-color: var(--primary-color, $primary-color);
    color: var(--primary-text-color, $primary-text-color);
}

.notification.info {
    background-color: var(--light-info-color, $light-info-color);
    border: 1px solid var(--light-info-border-color, $light-info-border-color);
    color: var(--light-info-text-color, $light-info-text-color);
}

.notification.info.solid {
    background-color: var(--info-color, $info-color);
    color: var(--info-text-color, $info-text-color);
}

.notification.success {
    background-color: var(--light-success-color, $light-success-color);
    border: 1px solid var(--light-success-border-color, $light-success-border-color);
    color: var(--light-success-text-color, $light-success-text-color);
}

.notification.success.solid {
    background-color: var(--success-color, $success-color);
    color: var(--success-text-color, $success-text-color);
}

.notification.warning {
    background-color: var(--light-warning-color, $light-warning-color);
    border: 1px solid var(--light-warning-border-color, $light-warning-border-color);
    color: var(--light-warning-text-color, $light-warning-text-color);
}

.notification.warning.solid {
    background-color: var(--warning-color, $warning-color);
    color: var(--warning-text-color, $warning-text-color);
}

.notification.danger {
    background-color: var(--light-danger-color, $light-danger-color);
    border: 1px solid var(--light-danger-border-color, $light-danger-border-color);
    color: var(--light-danger-text-color, $light-danger-text-color);
}

.notification.danger.solid {
    background-color: var(--danger-color, $danger-color);
    color: var(--danger-text-color, $danger-text-color);
}
