@import "../../styles/_variables";
@import "../../styles/general/button-image";

.notification {
    background-color: var(--light-back-color, $light-back-color);
    border: 1px solid var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    display: inline-flex;
    margin: 0 0 var(--element-margin, $element-margin);
    padding: calc(var(--element-padding, #{$element-padding}) / 2) var(--element-padding, $element-padding);
    width: 100%;
}

.notification:last-child {
    margin: 0;
}

.notification-content {
    flex: 1 1 auto;
}

.notification-close {
    flex: 0 0 auto;
    margin-left: var(--element-margin, $element-margin);
}

.notification.info,
.notification.success,
.notification.warning,
.notification.danger {
    a {
        color: var(--info-color, $info-color);
        text-decoration: underline;
    }
}

.notification.info.solid,
.notification.success.solid,
.notification.warning.solid,
.notification.danger.solid {
    border: 1px solid rgba(0, 0, 0, 0.06);

    a {
        color: inherit;
        text-decoration: underline;
    }
}

.notification.info {
    color: var(--light-info-text-color, $light-info-text-color);
    border: 1px solid var(--light-info-border-color, $light-info-border-color);
    background-color: var(--light-info-color, $light-info-color);
}

.notification.info.solid {
    background-color: var(--info-color, $info-color);
    color: var(--info-text-color, $info-text-color);
}

.notification.success {
    color: var(--light-success-text-color, $light-success-text-color);
    border: 1px solid var(--light-success-border-color, $light-success-border-color);
    background-color: var(--light-success-color, $light-success-color);
}

.notification.success.solid {
    background-color: var(--success-color, $success-color);
    color: var(--success-text-color, $success-text-color);
}

.notification.warning {
    color: var(--light-warning-text-color, $light-warning-text-color);
    border: 1px solid var(--light-warning-border-color, $light-warning-border-color);
    background-color: var(--light-warning-color, $light-warning-color);
}

.notification.warning.solid {
    background-color: var(--warning-color, $warning-color);
    color: var(--warning-text-color, $warning-text-color);
}

.notification.danger {
    color: var(--light-danger-text-color, $light-danger-text-color);
    border: 1px solid var(--light-danger-border-color, $light-danger-border-color);
    background-color: var(--light-danger-color, $light-danger-color);
}

.notification.danger.solid {
    background-color: var(--danger-color, $danger-color);
    color: var(--danger-text-color, $danger-text-color);
}
