@import "../_variables";

// ACCORDION HEADER AND BODY
// ========================================================

.accordion {
    margin: 0 0 $element-margin;
}

.accordion:last-child {
    margin: 0;
}

.accordion-item {
    margin: 0 0 $element-margin / 4;
}

.accordion-item:last-child {
    margin: 0;
}

.accordion-header-button {
    font-size: $font-size-title;
    margin: 0 0 $element-margin / 4;
    padding: $element-padding / 4 $element-padding / 2 !important;
    justify-content: start !important;
}

.accordion-panel {
    padding: 0 $element-padding / 2;
}
