@import "../_variables";

.alert {
    background-color: $light-background-color;
    border: 1px solid rgba($border-color, 0.3);
    border-radius: $border-radius;
    margin: 0 0 $element-margin;
    padding: $element-padding / 2 $element-padding;
}

.alert:last-child {
    margin: 0;
}

.alert-close {
    margin-left: $element-margin;
}

.alert.default {
    color: white;
    background-color: $dark-background-color;
}

.alert.info {
    color: white;
    background-color: $info-color;
}

.alert.success {
    color: white;
    background-color: $success-color;
}

.alert.warning {
    color: white;
    background-color: $warning-color;
}

.alert.danger {
    color: white;
    background-color: $danger-color;
}
