@import "../_variables";

.badge {
    background-color: $dark-background-color;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: $font-size-small;
    margin: 0 $element-margin / 4;
    padding: 0 $element-padding / 4;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: top;
}

.badge.boxed {
    border-radius: 4px;
}

.badge.info {
    background-color: $info-color;
}

.badge.success {
    background-color: $success-color;
}

.badge.warning {
    background-color: $warning-color;
}

.badge.danger {
    background-color: $danger-color;
}

.badge.cancel {
    background-color: $cancel-color;
}
