@import "../_variables";
@import "../general/animation";

// BUTTON LAYOUT
// ========================================================

.button {
    background-color: white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    position: relative;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button:focus {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
    outline: 0;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

button::-moz-focus-inner {
    border: 0;
}

// BUTTON SIZES
// ========================================================

.button,
.button.medium {
    font-size: 1.75rem;
    min-width: 96px;
    padding: $element-padding / 4 $element-padding;
}

.button.small {
    font-size: 1.3rem;
    min-width: 64px;
    padding: $element-padding / 8 $element-padding / 2;
}

.button.large {
    font-size: 2.25rem;
    min-width: 112px;
    padding: $element-padding / 2 $element-padding;
}

.button.inline {
    font-size: inherit;
    height: $input-height;
    line-height: $input-height - 4;
    min-width: auto;
    padding: 0 12px !important;
}

// BUTTON COLORS
// ========================================================

.button.info,
.button.success,
.button.warning,
.button.danger,
.button.select,
.button.cancel {
    border: 1px solid transparent;
    color: white,
}

.button.info {
    background-color: $info-color;
}

.button.info:hover {
    background-color: darken($info-color, 9%);
}

.button.success {
    background-color: $success-color;
}

.button.success:hover {
    background-color: darken($success-color, 9%);
}

.button.warning {
    background-color: $warning-color;
}

.button.warning:hover {
    background-color: darken($warning-color, 9%);
}

.button.danger {
    background-color: $danger-color;
}

.button.danger:hover {
    background-color: darken($danger-color, 9%);
}

.button.select {
    background-color: $select-color;
}

.button.select:hover {
    background-color: darken($select-color, 9%);
}

.button.cancel {
    background-color: $cancel-color;
}

.button.cancel:hover {
    background-color: darken($cancel-color, 9%);
}

// DISABLED
// ========================================================

.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
    background-color: $disabled-color !important;
    color: $disabled-text-color !important;
    cursor: not-allowed;
}

// LOADING
// ========================================================

.button.loading {
    color: transparent !important;
    cursor: default;
}

.button.loading:after {
    @include loading;
    border-left-color: rgba(255, 255, 255, .15);
    border-right-color: rgba(255, 255, 255, .15);
    border-bottom-color: rgba(255, 255, 255, .15);
    border-top-color: rgba(255, 255, 255, .8);
}
