@import "../_variables";

.drop-down-menu
{
    background-color: white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    list-style: none;
    margin: 0;
    padding: $element-padding / 2 0;
    position: absolute;
    width: 20rem;
    z-index: 10000;
}

.drop-down-menu-item {
    a {
        color: $text-color;
        display: block;
        padding: $element-padding / 4 $element-padding;
        width: 100%;
    }

    a:hover,
    a:focus {
        background-color: $select-color;
        color: white;
        text-decoration: none;
    }
}

.drop-down-menu-divider {
    margin: $element-margin / 4 $element-margin;
    border-bottom: 1px solid $border-color;
}
