@import "../_variables";

.off-screen {
    background-color: white;
    overflow: auto;
    position: fixed;
    z-index: 9900;
}

.off-screen-background {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
}
