@import "../_variables";

.pagination {
    text-align: center;
}

.pagination-button {
    font-size: inherit;
    margin: $element-margin / 4;
    min-width: 0;
    padding: 0;
    text-align: center;
    height: 30px;
    width: 30px;
}

.pagination-button.active {
    background-color: $select-color;
    border-color: $select-color;
    color: white;
    font-weight: bold;
}

.pagination-button:disabled {
    background-color: inherit !important;
}
