@import "../_variables";

.pagination {
    padding: $element-padding / 2 0;
    text-align: center;
}

.pagination-button {
    font-size: inherit;
    height: 3rem;
    margin: 0 $element-margin / 4;
    padding: 0 $element-padding / 2;
    text-align: center;
    min-width: 3rem;
}

.pagination-button.active {
    background-color: $select-color;
    border-color: $select-color;
    color: white;
    font-weight: bold;
}

.pagination-button:disabled {
    background-color: inherit !important;
}
