@import "../_variables";

// PANEL LAYOUT
// ========================================================

.panel {
    background-color: white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin: 0 0 $element-margin;
    padding: $element-padding;
}

.panel:last-child {
    margin-bottom: 0;
}

.panel.transparent {
    background-color: transparent;
}

.panel.light {
    background-color: $light-back-color;
}

.panel.dark {
    background-color: $dark-back-color;
    border-color: $dark-back-color;
    color: white;
}

.panel.info {
    background-color: $info-color;
    border-color: $info-color;
    color: $info-text-color;
}

.card {
    background-color: white;
    border: 1px solid $border-color;
    margin: -1px 0;
    padding: $element-padding;
}
