@import "../_variables";

.tag-input {
    .tag {
        line-height: $input-height - 1;
        margin: 4px 0 4px 4px;
    }
}

.tag-input-value-list {
    white-space: nowrap;
}

/*
.wc-multi-select-value-item {
    background-color: $default-color;
    border-radius: $border-radius;
    color: #FFFFFF;
    line-height: calc($input-height - 2px);
    margin-left: 6px;
    padding: 2px 6px;
    white-space: nowrap;
}

.wc-multi-select-value-item-button {
    cursor: pointer;
    //display: inline;
    margin-left: 6px;
}*/