@import "../_variables";

.tag {
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-right: $element-margin / 4;
    padding: 0 $element-padding / 4;
    text-align: center;
    white-space: nowrap;
}

.tag.info,
.tag.success,
.tag.warning,
.tag.danger {
    border: 1px solid rgba(0, 0, 0, 0.06);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.tag.info {
    background-color: $info-color;
}

.tag.success {
    background-color: $success-color;
}

.tag.warning {
    background-color: $warning-color;
}

.tag.danger {
    background-color: $danger-color;
}

.tag.cancel {
    background-color: $cancel-color;
}
