@import "../_variables";

.wizard-nav {
    padding: $element-padding / 2 0;

    display: flex;
    justify-content: end;
    align-items: center;
}

.wizard-button {
    font-size: inherit;
    margin-left: $element-margin / 2;
    min-width: 0;
    padding: 0 $element-padding / 2;
    height: 3rem;
}

.wizard-button.finish {
    background-color: $select-color;
    border-color: $select-color;
    color: white;
    font-weight: bold;
}

.wizard-button:disabled {
    background-color: inherit !important;
}
