@import "../../styles/_variables";

.chart {
    margin: 0 0 var(--element-margin, $element-margin);
}

.chart:last-child {
    margin: 0;
}

.chart-axis {
    stroke: var(--border-color, $border-color);
    stroke-width: 1px;
}

.chart-gridline {
    stroke: var(--light-border-color, $light-border-color);
    stroke-width: 1px;
}
