@import "../../styles/_variables.scss";
@import "../../styles/shared/drop-down-list";
@import "../../styles/shared/input-button";

.drop-down-input-container {
    border: 1px solid var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    display: flex;
}

.drop-down-input-container.focus {
    border: 1px solid var(--focus-color, $focus-color);
    box-shadow: 0px 0px 1px var(--select-color, $select-color);
}

.drop-down-input-container.primary {
    border-color: var(--primary-color, $primary-color);
}

.drop-down-input-container.primary.focus {
    box-shadow: 0px 0px 2px var(--primary-color, $primary-color);
}

.drop-down-input-container.info {
    border-color: var(--info-color, $info-color);
}

.drop-down-input-container.info.focus {
    box-shadow: 0px 0px 2px var(--info-color, $info-color);
}

.drop-down-input-container.success {
    border-color: var(--success-color, $success-color);
}

.drop-down-input-container.success.focus {
    box-shadow: 0px 0px 2px var(--success-color, $success-color);
}

.drop-down-input-container.warning {
    border-color: var(--warning-color, $warning-color);
}

.drop-down-input-container.warning.focus {
    box-shadow: 0px 0px 2px var(--warning-color, $warning-color);
}

.drop-down-input-container.danger {
    border-color: var(--danger-color, $danger-color);
}

.drop-down-input-container.danger.focus {
    box-shadow: 0px 0px 2px var(--danger-color, $danger-color);
}

input.drop-down-input {
    -webkit-appearance: none;
    border: 0;
    height: calc(var(--input-height, #{$input-height}) - 2px);
    margin: 0;
    padding: 0 4px;
    width: 100%;
}

input.drop-down-input:focus {
    box-shadow: none;
    border: 0;
}
