@import "../../styles/_variables";

.input-button {
    color: var(--label-text-color, $label-text-color);
    cursor: pointer;
    line-height: var(--input-height, $input-height);
    width: 2.6rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.input-button:hover {
    // On white, this is #e5e5e5 (i.e. $middle-back-color) but it will adapt itself to other colors
    background-color: rgba(0, 0, 0, 0.1);
}
