@import "../../styles/_variables";

.level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: $small-screen) {
    .level.collapse {
        flex-direction: column;
    }
}
