@import "../../styles/_variables";

.level-item {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.level-item.start {
    flex: 0 0 auto;
    justify-content: flex-start;
}

.level-item.end {
    flex: 0 0 auto;
    justify-content: flex-end;
}

.level-item.spaced {
    margin: 0 calc(var(--element-margin, #{$element-margin}) / 2);
}

.level-item.spaced:first-child {
    margin-left: 0;
}

.level-item.spaced:last-child {
    margin-right: 0;
}

@media (max-width: $small-screen) {
    .level-item.collapse {
        margin: 0;
    }
    
    .level-item.collapse.spaced {
        margin: calc(var(--element-margin, #{$element-margin}) / 2) 0;
    }
}
