@import "../../styles/_variables";

.badge {
    background-color: var(--light-back-color, $light-back-color);
    border: 1px solid var(--border-color, $border-color);
    border-radius: 2rem;
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-size-small, $font-size-small);
    margin: 0 calc(var(--element-margin, #{$element-margin}) / 4);
    padding: 0 calc(var(--element-padding, #{$element-padding}) / 4);
    text-align: center;
    vertical-align: top;
}

.badge.boxed {
    border-radius: 4px;
}

.badge.info,
.badge.success,
.badge.warning,
.badge.danger {
    border: 1px solid rgba(0, 0, 0, 0.06);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.badge.info {
    background-color: var(--info-color, $info-color);
    color: var(--info-text-color, $info-text-color);
}

.badge.success {
    background-color: var(--success-color, $success-color);
    color: var(--success-text-color, $success-text-color);
}

.badge.warning {
    background-color: var(--warning-color, $warning-color);
    color: var(--warning-text-color, $warning-text-color);
}

.badge.danger {
    background-color: var(--danger-color, $danger-color);
    color: var(--danger-text-color, $danger-text-color);
}

.badge.cancel {
    background-color: var(--cancel-color, $cancel-color);
}
