@import "../../styles/_variables.scss";

input.currency-input {
    -moz-appearance: textfield;
}

input.currency-input::-webkit-inner-spin-button, 
input.currency-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
