@import "../../styles/_variables";

.tab-group {
    margin: 0 0 var(--element-margin, $element-margin);
}

.tab-group:last-child {
    margin: 0;
    //.tab-item {
    //    padding: var(--element-padding, $element-padding) 0 0;
    //}
}

.tab-list {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
