@import "../../styles/_variables";
@import "../../styles/general/button";

.tabs {
    margin: 0 0 var(--element-margin, $element-margin);
}

.tabs:last-child {
    margin: 0;
    .tab-item {
        padding: var(--element-padding, $element-padding) 0 0;
    }
}

.tab-list {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.tab-list-button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color, $border-color);
    font-size: var(--font-size-title, $font-size-title);
    margin-bottom: -1px;
    padding: calc(var(--element-padding, #{$element-padding}) / 2) var(--element-padding, $element-padding);
}

.tab-list-button:hover,
.tab-list-button:focus {
    box-shadow: none;
}

.tab-list-button.active {
    border-bottom: 1px solid var(--active-color, $active-color);
}

.tab-item {
    padding: var(--element-padding, $element-padding) 0;
}

// BOXED
// ========================================================

.tab-list.boxed {
    .tab-list-button {
        border: 1px solid transparent;
        border-radius: var(--border-radius, $border-radius) var(--border-radius, $border-radius) 0 0;
        z-index: 500;
    }

    .tab-list-button.active {
        border: 1px solid var(--border-color, $border-color);
        border-bottom-color: white;
    }
}
