@import "../_variables";

.chart {
    margin: 0 0 $element-margin;
}

.chart:last-child {
    margin: 0;
}

.chart-axis {
    stroke: $border-color;
    stroke-width: 1px;
}

.chart-line {
    stroke-width: 2px;
}

.chart-segment {
    stroke: white;
    stroke-width: 2px;
}
