@import "../../styles/_variables.scss";
@import "../../styles/shared/input-button";

.number-input-container {
    border: 1px solid var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    display: flex;
}

.number-input-container.focus {
    border: 1px solid var(--focus-color, $focus-color);
    box-shadow: 0px 0px 1px var(--select-color, $select-color);
}

.number-input-container.primary {
    border-color: var(--primary-color, $primary-color);
}

.number-input-container.primary.focus {
    box-shadow: 0px 0px 2px var(--primary-color, $primary-color);
}

.number-input-container.info {
    border-color: var(--info-color, $info-color);
}

.number-input-container.info.focus {
    box-shadow: 0px 0px 2px var(--info-color, $info-color);
}

.number-input-container.success {
    border-color: var(--success-color, $success-color);
}

.number-input-container.success.focus {
    box-shadow: 0px 0px 2px var(--success-color, $success-color);
}

.number-input-container.warning {
    border-color: var(--warning-color, $warning-color);
}

.number-input-container.warning.focus {
    box-shadow: 0px 0px 2px var(--warning-color, $warning-color);
}

.number-input-container.danger {
    border-color: var(--danger-color, $danger-color);
}

.number-input-container.danger.focus {
    box-shadow: 0px 0px 2px var(--danger-color, $danger-color);
}

input.number-input {
    border: 0;
    height: var(--input-height, $input-height);
    margin: 0;
    padding: 0 4px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input.number-input:focus {
    box-shadow: none;
    border: 0;
}
