@import "../_variables";

.dialog {
    background-color: white;
    border-radius: $border-radius;
    max-height: 320px;
    min-height: 140px;
    max-width: 480px;
    min-width: 320px;
    overflow: auto;
    z-index: 9900;

    display: flex;
    flex-direction: column;
}

.dialog-background {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;

    display: flex !important;
    align-items: center;
    justify-content: center;
}

.dialog-header {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;
    margin: 0;
    padding: $element-padding $element-padding 0;
    flex: 0 0 auto;
}

.dialog-body {
    padding: $element-padding;
    flex: 1 1 auto;
}

.dialog-footer {
    background-color: $middle-back-color;
    padding: $element-padding / 4 * 3;
    text-align: right;
    flex: 0 0 auto;

    .button {
        margin-left: $element-margin / 4 * 3;
    }
}
