@import "../../styles/_variables";

.radio:hover {
    input[type=radio] + span:before {
        border-color: var(--select-color, $select-color);
    }
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

input[type=radio] + span:before {
    background-color: white;
    border: 1px solid var(--light-border-color, $light-border-color);
    border-radius: 50%;
    content: "\00a0";
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 0.6rem;
    padding: 0 1px;
    width: 1.5rem;
}

input[type=radio]:checked + span:before {
    // TODO: Maybe extract icons into svg files that I can just include here?
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><circle cx="50" cy="45" r="30" fill="%23222" /></g></svg>');
}

input[type=radio]:focus + span:before {
    border-color: var(--focus-color, $focus-color);
    box-shadow: 0px 0px 1px var(--select-color, $select-color);
}

.radio.info,
.radio.success,
.radio.warning,
.radio.danger {
    input[type=radio]:checked + span:before {
        border: 1px solid rgba(0, 0, 0, 0.06);
        // TODO: Maybe extract icons into svg files that I can just include here?
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><circle cx="50" cy="45" r="30" fill="white" /></g></svg>');
    }
}

.radio.info {
    color: var(--info-color, $info-color);

    input[type=radio] + span:before {
        border-color: var(--info-color, $info-color);
    }

    input[type=radio]:checked + span:before {
        background-color: var(--info-color, $info-color);
    }

    input[type=radio]:focus + span:before {
        box-shadow: 0px 0px 2px var(--info-color, $info-color);
    }
}

.radio.success {
    color: var(--success-color, $success-color);

    input[type=radio] + span:before {
        border-color: var(--success-color, $success-color);
    }

    input[type=radio]:checked + span:before {
        background-color: var(--success-color, $success-color);
    }

    input[type=radio]:focus + span:before {
        box-shadow: 0px 0px 2px var(--success-color, $success-color);
    }
}

.radio.warning {
    color: var(--warning-color, $warning-color);

    input[type=radio] + span:before {
        border-color: var(--warning-color, $warning-color);
    }

    input[type=radio]:checked + span:before {
        background-color: var(--warning-color, $warning-color);
    }

    input[type=radio]:focus + span:before {
        box-shadow: 0px 0px 2px var(--warning-color, $warning-color);
    }
}

.radio.danger {
    color: var(--danger-color, $danger-color);

    input[type=radio] + span:before {
        border-color: var(--danger-color, $danger-color);
    }

    input[type=radio]:checked + span:before {
        background-color: var(--danger-color, $danger-color);
    }

    input[type=radio]:focus + span:before {
        box-shadow: 0px 0px 2px var(--danger-color, $danger-color);
    }
}
