
// BREAKPOINTS
// ========================================================

//$xsmall-screen: 0px;      // And up - the default
$small-screen: 480px;       // And up
$medium-screen: 760px;      // And up
$large-screen: 1040px;      // And up
$xlarge-screen: 1320px;     // And up

// SPACING AND BORDERS
// ========================================================

$element-margin: 1.5rem;
$element-padding: 2rem;

$border-radius: 2px;
$border-color: #d2d2d2;
$light-border-color: #aaa;

$icon-size: 1.5rem;

// FONTS
// ========================================================

$font-size: 1.4rem;
$font-size-small: 1.1rem;
$font-size-large: 1.7rem;
$font-size-title: 1.6rem;

$line-height: 1.4;

// COLORS
// ========================================================

$text-color: #222;
$body-back-color: #fff;

$light-back-color: #fafafa;
$middle-back-color: #e5e5e5;
$dark-back-color: #888;

$mark-back-color: #ffff00;
$mark-color: #222;
$select-color: #3396ff;
$select-hover-color: scale-color($select-color, $lightness: -25%);
$focus-color: lighten($select-color, 18%);
$active-color: #ffa500;

$link-color: #0265b7;
$link-hover-color: #0265b7;

$primary-color: #ff0066;
$primary-text-color: #fff;
$primary-hover-color: scale-color($primary-color, $lightness: -25%);
$info-color: #4d90fe;
$info-text-color: #fff;
$info-hover-color: scale-color($info-color, $lightness: -25%);
$success-color: #00a852;
$success-text-color: #fff;
$success-hover-color: scale-color($success-color, $lightness: -25%);
$warning-color: #F3C42E;
$warning-text-color: rgba(0, 0, 0, 0.7);
$warning-hover-color: scale-color($warning-color, $lightness: -25%);
$danger-color: #ee2e24;
$danger-text-color: #fff;
$danger-hover-color: scale-color($danger-color, $lightness: -25%);
$cancel-color: #949494;
$cancel-text-color: #fff;
$cancel-hover-color: scale-color($cancel-color, $lightness: -25%);
$disabled-color: #f2f2f2;
$disabled-text-color: #a5a5a5;

$light-primary-color: scale-color($primary-color, $lightness: 95%);
$light-primary-text-color: scale-color($primary-color, $lightness: -20%);
$light-primary-border-color: $primary-color;
$light-info-color: scale-color($info-color, $lightness: 95%);
$light-info-text-color: scale-color($info-color, $lightness: -20%);
$light-info-border-color: $info-color;
$light-success-color: scale-color($success-color, $lightness: 95%);
$light-success-text-color: scale-color($success-color, $lightness: -20%);
$light-success-border-color: $success-color;
$light-warning-color: scale-color($warning-color, $lightness: 95%);
$light-warning-text-color: scale-color($warning-color, $lightness: -35%);
$light-warning-border-color: $warning-color;
$light-danger-color: scale-color($danger-color, $lightness: 95%);
$light-danger-text-color: scale-color($danger-color, $lightness: -20%);
$light-danger-border-color: $danger-color;

// HEADER AND FOOTER
// ========================================================

$header-line-height: 4rem;
$footer-line-height: 4rem;

// NAVBAR
// ========================================================

$nav-bar-item-back-color: transparent;
$nav-bar-item-text-color: #222;
$nav-bar-item-hover-back-color: rgba(0, 0, 0, 0.1);
$nav-bar-item-hover-text-color: #222;

// FORMS
// ========================================================

$input-height: 3.2rem;
$label-color: #777;
$label-width: 16rem;
$input-width: 32rem;
