@import "../../styles/_variables";

.page-footer {
    background-color: var(--footer-back-color, $footer-back-color);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    color: var(--footer-text-color, $footer-text-color);
    display: table; // To size to content
    line-height: var(--footer-line-height, $footer-line-height);
    padding: 0 var(--element-padding, $element-padding);
    width: 100%;
}
