@import "../_variables";

.checkbox:hover {
  .checkbox-input + span:before {
      border-color: $select-color;
  }
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox-input + span:before {
    background-color: white;
    border: 1px solid $light-border-color;
    border-radius: $border-radius;
    content: "\00a0";
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 0.6rem;
    padding: 1px;
    width: 1.5rem;
}

.checkbox-input:checked + span:before {
    // TODO: Maybe extract icons into svg files that I can just include here?
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><path d="M10,40 L35,65 L90,10" fill="none" stroke="%23222" stroke-width="15" /></g></svg>');
}

.checkbox-input:focus + span:before {
    border-color: lighten($select-color, 18%);
    box-shadow: 0px 0px 1px $select-color;
}

.checkbox.info,
.checkbox.success,
.checkbox.warning,
.checkbox.danger {
    .checkbox-input:checked + span:before {
        border: 1px solid rgba(0, 0, 0, 0.06);
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><path d="M10,40 L35,65 L90,10" fill="none" stroke="white" stroke-width="15" /></g></svg>');
    }
}

.checkbox.info {
    color: $info-color;

    .checkbox-input + span:before {
        border-color: $info-color;
    }

    .checkbox-input:checked + span:before {
        background-color: $info-color;
    }

    .checkbox-input:focus + span:before {
        box-shadow: 0px 0px 2px $info-color;
    }
}

.checkbox.success {
    color: $success-color;

    .checkbox-input + span:before {
        border-color: $success-color;
    }

    .checkbox-input:checked + span:before {
        background-color: $success-color;
    }

    .checkbox-input:focus + span:before {
        box-shadow: 0px 0px 2px $success-color;
    }
}

.checkbox.warning {
    color: $warning-color;

    .checkbox-input + span:before {
        border-color: $warning-color;
    }

    .checkbox-input:checked + span:before {
        background-color: $warning-color;
    }

    .checkbox-input:focus + span:before {
        box-shadow: 0px 0px 2px $warning-color;
    }
}

.checkbox.danger {
    color: $danger-color;

    .checkbox-input + span:before {
        border-color: $danger-color;
    }

    .checkbox-input:checked + span:before {
        background-color: $danger-color;
    }

    .checkbox-input:focus + span:before {
        box-shadow: 0px 0px 2px $danger-color;
    }
}
