@import "_variables";

// VALIDATION HELPERS
// ========================================================

.field {
    margin: 0 0 $element-margin;
}

.field:last-child {
    margin: 0;
}

.field-message {
    color: $label-color;
    font-size: 1.3rem;
    margin: $element-margin / 4 0;
}

.field-message.info {
    color: $info-color;
}

.field-message.success {
    color: $success-color;
}

.field-message.warning {
    color: $warning-color;
}

.field-message.danger {
    color: $danger-color;
}
