@import "../_variables.scss";

.number-input-container {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    display: flex;
}

.number-input-container.focus {
    border: 1px solid lighten($select-color, 18%);
    box-shadow: 0px 0px 1px $select-color;
}

.number-input-container.info {
    border-color: $info-color;
}

.number-input-container.info.focus {
    box-shadow: 0px 0px 2px $info-color;
}

.number-input-container.success {
    border-color: $success-color;
}

.number-input-container.success.focus {
    box-shadow: 0px 0px 2px $success-color;
}

.number-input-container.warning {
    border-color: $warning-color;
}

.number-input-container.warning.focus {
    box-shadow: 0px 0px 2px $warning-color;
}

.number-input-container.danger {
    border-color: $danger-color;
}

.number-input-container.danger.focus {
    box-shadow: 0px 0px 2px $danger-color;
}

input.number-input {
    border: 0;
    height: $input-height;
    margin: 0;
    padding: 0 4px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input.number-input:focus {
    box-shadow: none;
    border: 0;
}

.number-button {
    color: $label-color;
    cursor: pointer;
    line-height: $input-height;
    text-align: center;
    width: 2.4rem;
}
