@import "../_variables";

.upload {
    background-color: $light-background-color;
    border: 1px dashed $border-color;
    border-radius: $border-radius;
    margin-bottom: $element-margin;
    padding: $element-padding / 2;
}

.upload:last-child {
    margin-bottom: 0;
}

.upload.info,
.upload.success,
.upload.warning,
.upload.danger {
    a {
        color: $info-color;
        text-decoration: underline;
    }
}

.upload.info {
    color: $info-color;
    border: 1px dashed rgba($info-color, 0.3);
    background-color: $light-info-color;
}

.upload.success {
    color: $success-color;
    border: 1px dashed rgba($success-color, 0.3);
    background-color: $light-success-color;
}

.upload.warning {
    color: $warning-color;
    border: 1px dashed rgba($warning-color, 0.3);
    background-color: $light-warning-color;
}

.upload.danger {
    color: $danger-color;
    border: 1px dashed rgba($danger-color, 0.3);
    background-color: $light-danger-color;
}
