@import "../../styles/_variables";

.file {
    background-color: var(--light-back-color, $light-back-color);
    border: 1px dashed var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    min-height: calc(var(--input-height, #{$input-height}) * 2);
    padding: 0 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.file:hover {
    cursor: pointer;
}

// TODO:
//.file.primary,
//.file.info,
//.file.success,
//.file.warning,
//.file.danger {
//    a {
//        color: var(--info-color, $info-color);
//        text-decoration: underline;
//    }
//}

.file.primary {
    color: var(--light-primary-text-color, $light-primary-text-color);
    border: 1px dashed var(--light-primary-border-color, $light-primary-border-color);
    background-color: var(--light-primary-color, $light-primary-color);
}

.file.info {
    color: var(--light-info-text-color, $light-info-text-color);
    border: 1px dashed var(--light-info-border-color, $light-info-border-color);
    background-color: var(--light-info-color, $light-info-color);
}

.file.success {
    color: var(--light-success-text-color, $light-success-text-color);
    border: 1px dashed var(--light-success-border-color, $light-success-border-color);
    background-color: var(--light-success-color, $light-success-color);
}

.file.warning {
    color: var(--light-warning-text-color, $light-warning-text-color);
    border: 1px dashed var(--light-warning-border-color, $light-warning-border-color);
    background-color: var(--light-warning-color, $light-warning-color);
}

.file.danger {
    color: var(--light-danger-text-color, $light-danger-text-color);
    border: 1px dashed var(--light-danger-border-color, $light-danger-border-color);
    background-color: var(--light-danger-color, $light-danger-color);
}

// NOTE: This is basically the visually-hidden class from HTML Bootstrap - is it worth making this a generic style?
.file-input {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.file-input:focus + span {
    text-decoration: underline;
}
