@import "../../styles/_variables";

.sub-nav-menu {
    margin: 0 0 var(--element-margin, $element-margin);

    ul {
        list-style: outside none;
        margin: 0;
        padding: 0;
    }
}

.sub-nav-menu:last-child {
    margin: 0;
}
