@import "../../styles/_variables";

.alert {
    background-color: var(--light-back-color, $light-back-color);
    border: 1px solid var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    display: flex;
    margin: 0 0 var(--element-margin, $element-margin);
    padding: calc(var(--element-padding, #{$element-padding}) / 2) var(--element-padding, $element-padding);
    position: fixed;
}

.alert:last-child {
    margin: 0;
}

.alert-content {
    flex: 1 1 auto;
}

.alert-close {
    flex: 0 0 auto;
    margin-left: var(--element-margin, $element-margin);
    margin-right: calc(var(--element-margin, #{$element-margin}) * -1 / 2);
}

.alert.top-left {
    left: 20px;
    top: 20px;
}

.alert.top {
    top: 20px;
    margin: 0 auto;
}

.alert.top-right {
    top: 20px;
    right: 20px;
}

.alert.bottom-left {
    left: 20px;
    bottom: 20px;
}

.alert.bottom {
    bottom: 20px;
    margin: 0 auto;
}

.alert.bottom-right {
    right: 20px;
    bottom: 20px;
}

.alert.primary,
.alert.info,
.alert.success,
.alert.warning,
.alert.danger {
    border: 1px solid rgba(0, 0, 0, 0.06);
    color: white;
}

.alert.primary {
    background-color: var(--primary-color, $primary-color);
    color: var(--primary-text-color, $primary-text-color);
}

.alert.info {
    background-color: var(--info-color, $info-color);
    color: var(--info-text-color, $info-text-color);
}

.alert.success {
    background-color: var(--success-color, $success-color);
    color: var(--success-text-color, $success-text-color);
}

.alert.warning {
    background-color: var(--warning-color, $warning-color);
    color: var(--warning-text-color, $warning-text-color);
}

.alert.danger {
    background-color: var(--danger-color, $danger-color);
    color: var(--danger-text-color, $danger-text-color);
}
