@import "../../styles/_variables";

.nav-menu {
    flex-grow: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
}

.nav-menu-bar {
    display: flex;
    align-items: center;
    padding: 0;
}

.nav-menu.start {
    .nav-menu-bar {
        justify-content: flex-start;
    }
}

.nav-menu.end {
    .nav-menu-bar {
        justify-content: flex-end;
    }
}
