@import "../../styles/_variables";
@import "../../styles/general/button-base";

.wizard-nav {
    padding: calc(var(--element-padding, #{$element-padding}) / 2) 0;

    display: flex;
    justify-content: end;
    align-items: center;
}

.wizard-button {
    margin-left: calc(var(--element-margin, #{$element-margin}) / 2);
    padding: calc(var(--element-padding, #{$element-padding}) / 4) calc(var(--element-padding, #{$element-padding}) / 2);
}

.wizard-button.finish {
    background-color: var(--select-color, $select-color);
    border-color: var(--select-color, $select-color);
    color: white;
    font-weight: bold;
}

.wizard-button-icon + span {
    margin-left: calc(var(--element-margin, #{$element-margin}) / 2);
}

span + .wizard-button-icon {
    margin-right: calc(var(--element-margin, #{$element-margin}) / 2);
}
