@import "../../styles/_variables";

.drop-down-menu-link {
    color: var(--text-color, $text-color);
    display: block;
    padding: calc(var(--element-padding, #{$element-padding}) / 4) var(--element-padding, $element-padding);
    width: 100%;
}

.drop-down-menu-link:hover,
.drop-down-menu-link:focus {
    background-color: var(--select-color, $select-color);
    color: white;
    text-decoration: none;
}
