@import "../../styles/_variables";

.drop-down-menu
{
    background-color: white;
    border: 1px solid var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    list-style: none;
    margin: 0;
    padding: calc(var(--element-padding, #{$element-padding}) / 2) 0;
    position: absolute;
    width: 20rem;
    z-index: 10000;
}

.drop-down-menu.start {
    left: 0;
    right: auto;
}

.drop-down-menu.end {
    left: auto;
    right: 0;
    text-align: right;
}
