@import "../../styles/_variables";
@import "../../styles/general/button";

.dot-nav {
    padding: $element-padding / 2 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-button {
    background-color: $middle-back-color;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 1.5rem;
    min-width: 0;
    width: 1.5rem;
    margin: 0 $element-margin / 2;
    padding: 0;
}

.dot-button.active {
    background-color: $dark-back-color;
}

.dot-button:focus {
    box-shadow: revert;
}

.dot-nav.vertical {
    .dot-button {
        display: block;
        margin: $element-margin / 2;
    }
}
