@import "../../styles/_variables";

.page-header {
    background-color: var(--light-back-color, $light-back-color);
    display: table; // To size to content
    padding: 0 var(--element-padding, $element-padding);
    width: 100%;
}

.page-header {
    border-bottom: 1px solid var(--border-color, $border-color);
    line-height: var(--header-line-height, $header-line-height);
}
