@import "../../styles/_variables";
@import "../../styles/shared/drop-down";
@import "../../styles/shared/input-button";

.drop-down-list {
    max-height: initial;
}

.color-picker-preview {
    border-radius: 2px;
    margin: 4px;
    width: 2.4rem;
}
