@import "../../styles/_variables";

.image-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: inherit;
    cursor: pointer;
    padding: 0.3rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.image-button:hover,
.image-button:focus {
    // On white, this is #e5e5e5 (i.e. $middle-back-color) but it will adapt itself to other colors
    background-color: rgba(0, 0, 0, 0.1);
}

.image-button-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

// BUTTON SIZES
// ========================================================

.image-button,
.image-button.medium {
    height: 2.8rem;
    width: 2.8rem;

    //// HACK: For dropdown buttons...
    //span > .icon {
    //    vertical-align: middle;
    //}
}

.image-button.large {
    height: 3.8rem;
    width: 3.8rem;
}

.image-button.small {
    height: 1.8rem;
    width: 1.8rem;
}

// BUTTON COLORS
// ========================================================

.image-button.primary,
.image-button.info,
.image-button.success,
.image-button.warning,
.image-button.danger,
.image-button.cancel {
    border: 1px solid transparent;
    color: white,
}

.image-button.primary {
    background-color: var(--primary-color, $primary-color);
    color: var(--primary-text-color, $primary-text-color);
}

.image-button.primary:hover:not(:disabled):not(.loading) {
    background-color: var(--primary-hover-color, $primary-hover-color);
}

.image-button.info {
    background-color: var(--info-color, $info-color);
    color: var(--info-text-color, $info-text-color);
}

.image-button.info:hover:not(:disabled):not(.loading) {
    background-color: var(--info-hover-color, $info-hover-color);
}

.image-button.success {
    background-color: var(--success-color, $success-color);
    color: var(--success-text-color, $success-text-color);
}

.image-button.success:hover:not(:disabled):not(.loading) {
    background-color: var(--success-hover-color, $success-hover-color);
}

.image-button.warning {
    background-color: var(--warning-color, $warning-color);
    color: var(--warning-text-color, $warning-text-color);
}

.image-button.warning:hover:not(:disabled):not(.loading) {
    background-color: var(--warning-hover-color, $warning-hover-color);
}

.image-button.danger {
    background-color: var(--danger-color, $danger-color);
    color: var(--danger-text-color, $danger-text-color);
}

.image-button.danger:hover:not(:disabled):not(.loading) {
    background-color: var(--danger-hover-color, $danger-hover-color);
}

.image-button.cancel {
    background-color: var(--cancel-color, $cancel-color);
}

.image-button.cancel:hover:not(:disabled):not(.loading) {
    background-color: var(--cancel-hover-color, $cancel-hover-color);
}

// DISABLED
// ========================================================

.image-button:disabled,
.image-button:disabled:hover,
.image-button:disabled:focus {
    background-color: var(--disabled-color, $disabled-color);
    color: var(--disabled-text-color, $disabled-text-color);
    cursor: default;
}
