@import "../../styles/_variables";
@import "../../styles/general/button-reset";

.story-nav {
    padding: calc(var(--element-padding, #{$element-padding}) / 2) 0;
    display: flex;
}

.story-button {
    background-color: var(--dark-back-color, $dark-back-color);
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 4px;
    min-width: 0;
    margin: 0 3px;
    padding: 0;
    flex: 1 1 auto;
}

.story-button.active {
    background-color: white;
}

.story-button:focus,
.story-button:hover {
    box-shadow: revert;
}

.story-nav.vertical {
    display: block;

    .story-button {
        display: block;
        margin: calc(var(--element-margin, #{$element-margin}) / 2) 0;
        width: 100%;
    }
}
