@import "../../styles/_variables";

.stack-item.v-spaced {
    margin: 0 0 var(--element-margin, $element-margin);
}

.stack-item.v-spaced:last-child {
    margin-bottom: 0;
}

.stack-item.h-spaced {
    margin: 0 var(--element-margin, $element-margin) 0 0;
}

.stack-item.h-spaced:last-child {
    margin-right: 0;
}

.stack-item.auto {
    flex: 0 0 auto;
}

.stack-item.grow {
    flex: 1 1 auto;
}
