@import "../../styles/_variables";
@import "../../styles/general/button";

.accordion-header-button {
    width: 100%;
}

.accordion-item {
    margin: 0 0 calc(var(--element-margin, #{$element-margin}) / 4);
}

.accordion-item:last-child {
    margin: 0;
}
