@import "../../styles/_variables";

.accordion {
    margin: 0 0 var(--element-margin, $element-margin);
}

.accordion:last-child {
    margin: 0;
}

.accordion-header-button {
    font-size: var(--font-size-title, $font-size-title);
    margin: 0 0 calc(var(--element-margin, #{$element-margin}) / 4);
    padding: calc(var(--element-padding, #{$element-padding}) / 4) calc(var(--element-padding, #{$element-padding}) / 2) !important;
    justify-content: start !important;
}

.accordion-panel {
    padding: 0 calc(var(--element-padding, #{$element-padding}) / 2);
}
