@import "../../styles/_variables";
@import "../../styles/shared/button-base";

.accordion-header-button {
    font-size: var(--font-size-title, $font-size-title);
    margin: 0 0 calc(var(--element-margin, #{$element-margin}) / 4);
    padding: calc(var(--element-padding, #{$element-padding}) / 4) calc(var(--element-padding, #{$element-padding}) / 2) !important;
    justify-content: start;
    width: 100%;
}

.accordion-panel {
    padding: 0 calc(var(--element-padding, #{$element-padding}) / 2);
}

.accordion-item {
    margin: 0 0 calc(var(--element-margin, #{$element-margin}) / 4);
}

.accordion-item:last-child {
    margin: 0;
}
