@import "../../styles/_variables";

.chart {
    margin: 0 0 var(--element-margin, $element-margin);
}

.chart:last-child {
    margin: 0;
}

.chart-segment {
    stroke: white;
    stroke-width: 2px;
}
