@import "../../styles/_variables";

$slider-size: 1.6rem;

.slider {
    height: var(--input-height, $input-height);
    position: relative;
}

.slider-background {
    background-color: var(--light-back-color, $light-back-color);
    border: 1px solid var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    height: 4px;
    position: absolute;
    top: 14px;
    width: 100%;
}

.slider-handle {
    background-color: white;
    border: 1px solid var(--border-color, $border-color);
    border-radius: 50%;
    height: $slider-size;
    width: $slider-size;
    position: absolute;
    top: calc(var(--input-height, $input-height) / 2) - $slider-size / 2;
}

.slider-handle:hover,
.slider-handle:focus {
    border: 1px solid var(--select-color, $select-color);
}
