@import "../../styles/_variables";

:global(.block) {
  margin: 0 0 var(--element-margin, $element-margin);
}

:global(.block:last-child) {
  margin-bottom: 0;
}

// GENERAL UTILS
// ========================================================

:global(.center) {
  margin-left: auto;
  margin-right: auto;
}

:global(.full-width) {
  width: 100%;
}

:global(.clearfix) {
  overflow: auto;
}

// TEXT AND ELEMENT ALIGNMENT
// ========================================================

:global(.text-left) {
  text-align: left !important;
}

:global(.text-center) {
  text-align: center !important;
}

:global(.text-right) {
  text-align: right !important;
}

:global(.align-left) {
  display: block !important;
  float: left !important;
  margin-right: var(--element-margin, $element-margin) !important;
}

:global(.align-right) {
  display: block !important;
  float: right !important;
  margin-left: var(--element-margin, $element-margin) !important;
}

:global(.align-center) {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

:global(.vertical-align-top) {
  display: flex !important;
  align-items: top;
}

:global(.vertical-align-middle) {
  display: flex !important;
  align-items: center;
}

:global(.vertical-align-bottom) {
  display: flex !important;
  align-items: bottom;
}

// TEXT SIZES AND COLORS
// ========================================================

:global(small),
:global(.text-small) {
  font-size: var(--font-size-small, $font-size-small) !important;
}

:global(.text-large) {
  font-size: var(--font-size-large, $font-size-large) !important;
}

// MARGIN AND PADDING
// ========================================================

:global(.no-margin) {
  margin: 0 !important;
}

:global(.no-margin-top) {
  margin-top: 0 !important;
}

:global(.no-margin-right) {
  margin-right: 0 !important;
}

:global(.no-margin-bottom) {
  margin-bottom: 0 !important;
}

:global(.no-margin-left) {
  margin-left: 0 !important;
}

:global(.margin) {
  margin: var(--element-margin, $element-margin) !important;
}

:global(.margin-h) {
  margin: 0 var(--element-margin, $element-margin) !important;
}

:global(.margin-v) {
  margin: var(--element-margin, $element-margin) 0 !important;
}

:global(.margin-top) {
  margin-top: var(--element-margin, $element-margin) !important;
}

:global(.margin-right) {
  margin-right: var(--element-margin, $element-margin) !important;
}

:global(.margin-bottom) {
  margin-bottom: var(--element-margin, $element-margin) !important;
}

:global(.margin-left) {
  margin-left: var(--element-margin, $element-margin) !important;
}

:global(.no-padding) {
  padding: 0 !important;
}

:global(.no-padding-top) {
  padding-top: 0 !important;
}

:global(.no-padding-right) {
  padding-right: 0 !important;
}

:global(.no-padding-bottom) {
  padding-bottom: 0 !important;
}

:global(.no-padding-left) {
  padding-left: 0 !important;
}

:global(.padding) {
  padding: var(--element-padding, $element-padding) !important;
}

:global(.padding-h) {
  padding: 0 var(--element-padding, $element-padding) !important;
}

:global(.padding-v) {
  padding: var(--element-padding, $element-padding) 0 !important;
}

:global(.padding-top) {
  padding-top: var(--element-padding, $element-padding) !important;
}

:global(.padding-right) {
  padding-right: var(--element-padding, $element-padding) !important;
}

:global(.padding-bottom) {
  padding-bottom: var(--element-padding, $element-padding) !important;
}

:global(.padding-left) {
  padding-left: var(--element-padding, $element-padding) !important;
}

// HIDDEN AND VISIBLE
// ========================================================

// NOTE: We have to be super-explicit about these rules, and cover every conceivable case, because once
// you have 'display: none' on an element you can't get it back to what it was. Rather, we have to ensure
// that 'display: none' only gets set when the conditions are right and not set in other cases

@media (max-width: $small-screen - 1) {
  :global(.visible-small),
  :global(.visible-medium),
  :global(.visible-large),
  :global(.visible-xlarge) {
    display: none !important;
  }
}

@media (min-width: $small-screen) and (max-width: $medium-screen - 1) {
  :global(.hidden-small) {
    display: none !important;
  }

  :global(.visible-medium:not(.visible-small)),
  :global(.visible-large:not(.visible-small)),
  :global(.visible-xlarge:not(.visible-small)) {
    display: none !important;
  }

  :global(.visible-small) {
    //display: block !important;
    visibility: visible !important;
  }
}

@media (min-width: $medium-screen) and (max-width: $large-screen - 1) {
  :global(.hidden-small:not(.visible-medium)) {
    display: none !important;
  }

  :global(.hidden-medium) {
    display: none !important;
  }

  :global(.visible-large:not(.visible-medium)),
  :global(.visible-xlarge:not(.visible-medium)) {
    display: none !important;
  }

  :global(.visible-medium),
  :global(.visible-large),
  :global(.visible-xlarge) {
    //display: block !important;
    visibility: visible !important;
  }
}

@media (min-width: $large-screen) and (max-width: $xlarge-screen - 1) {
  :global(.hidden-small:not(.visible-large)),
  :global(.hidden-medium:not(.visible-large)) {
    display: none !important;
  }

  :global(.hidden-large) {
    display: none !important;
  }

  :global(.visible-xlarge:not(.visible-large)) {
    display: none !important;
  }

  :global(.visible-large),
  :global(.visible-xlarge) {
    //display: block !important;
    visibility: visible !important;
  }
}

@media (min-width: $xlarge-screen) {
  :global(.hidden-small:not(.visible-xlarge)),
  :global(.hidden-medium:not(.visible-xlarge)),
  :global(.hidden-large:not(.visible-xlarge)) {
    display: none !important;
  }

  :global(.hidden-xlarge) {
    display: none !important;
  }

  :global(.visible-xlarge) {
    //display: block !important;
    visibility: visible !important;
  }
}

:global(.hidden) {
  display: none !important;
  visibility: hidden !important;
}

:global(.visible) {
  display: block !important;
  visibility: visible !important;
}

// MISC
// ========================================================

@media print {
  :global(.no-print),
  :global(.no-print *) {
    display: none !important;
  }
}
