@import "../../styles/_variables";

.button {
    background-color: white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    cursor: pointer;
}

.button:focus {
    background-color: $middle-back-color;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
    outline: 0;
}

.button:hover {
    background-color: $middle-back-color;
}

/* Remove the black dotted focus border in Firefox */
button::-moz-focus-inner {
    border: 0;
}
