@import "../../styles/_variables.scss";
@import "../../styles/general/input-button";

.drop-down-input-container {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    display: flex;
}

.drop-down-input-container.focus {
    border: 1px solid lighten($select-color, 18%);
    box-shadow: 0px 0px 1px $select-color;
}

.drop-down-input-container.info {
    border-color: $info-color;
}

.drop-down-input-container.info.focus {
    box-shadow: 0px 0px 2px $info-color;
}

.drop-down-input-container.success {
    border-color: $success-color;
}

.drop-down-input-container.success.focus {
    box-shadow: 0px 0px 2px $success-color;
}

.drop-down-input-container.warning {
    border-color: $warning-color;
}

.drop-down-input-container.warning.focus {
    box-shadow: 0px 0px 2px $warning-color;
}

.drop-down-input-container.danger {
    border-color: $danger-color;
}

.drop-down-input-container.danger.focus {
    box-shadow: 0px 0px 2px $danger-color;
}

input.drop-down-input {
    border: 0;
    height: calc(#{$input-height} - 2px);
    margin: 0;
    padding: 0 4px;
    width: 100%;
    -webkit-appearance: none;
}

input.drop-down-input:focus {
    box-shadow: none;
    border: 0;
}

.drop-down-list {
    background-color: white;
    border: 1px solid $border-color;
    max-height: 24.4rem;
    overflow: auto;
    position: absolute;
    z-index: 10000;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.drop-down-list-item {
    cursor: default;
    margin: 0;
    padding: 2px 6px;
    width: 100%;
}

.drop-down-list-item:hover {
    background-color: $select-color;
    color: white;
}

.drop-down-list-item.active {
    background-color: $select-color;
    color: white;
}
