@import "../../styles/_variables";

// HEADER, MAIN AND FOOTER
// ========================================================

// A container to hold a header, main and footer and ensure that they are at least as tall as the viewarea
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
    background-color: var(--light-back-color, $light-back-color);
    display: table; // To size to content
    padding: 0 var(--element-padding, $element-padding);
    width: 100%;
}

.header {
    border-bottom: 1px solid var(--border-color, $border-color);
    line-height: var(--header-line-height, $header-line-height);
}

.main {
    flex: 1 0 auto; // To stretch to the full vertical height
    overflow: hidden;
    width: 100%;
}

.footer {
    border-top: 1px solid var(--border-color, $border-color);
    line-height: var(--footer-line-height, $footer-line-height);
}

// This can be done with a level?
// .footer-info-left {
//     float: left;
// }
// 
// .footer-info-right {
//     float: right;
// }
// 
// .footer-info-center {
//     text-align: center;
// }

// CONTAINERS
// ========================================================

.container {
    margin: 0 auto;
    max-width: 120rem;
    width: 100%;
}

.container.small {
    max-width: $small-screen;
}

.container.medium {
    max-width: $medium-screen;
}

.container.large {
    max-width: $large-screen;
}

.container.xlarge {
    max-width: $xlarge-screen;
}

.main {
    .container {
        padding: var(--element-padding, $element-padding);
    }
}

.block {
    margin: 0 0 var(--element-margin, $element-margin);
}

.block:last-child {
    margin-bottom: 0;
}

// GENERAL UTILS
// ========================================================

.center {
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}

.clearfix {
    overflow: auto;
}

// TEXT AND ELEMENT ALIGNMENT
// ========================================================

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.align-left {
    display: block !important;
    float: left !important;
    margin-right: var(--element-margin, $element-margin) !important;
}

.align-right {
    display: block !important;
    float: right !important;
    margin-left: var(--element-margin, $element-margin) !important;
}

.align-center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.vertical-align-top {
    display: flex !important;
    align-items: top;
}

.vertical-align-middle {
    display: flex !important;
    align-items: center;
}

.vertical-align-bottom {
    display: flex !important;
    align-items: bottom;
}

// TEXT SIZES AND COLORS
// ========================================================

small {
    font-size: var(--font-size-small, $font-size-small) !important;
}

.text-small {
    font-size: var(--font-size-small, $font-size-small) !important;
}

.text-large {
    font-size: var(--font-size-large, $font-size-large) !important;
}

.text-contrast {
    color: var(--contrast-text-color, $contrast-text-color) !important;
}

// MARGIN AND PADDING
// ========================================================

.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.margin {
    margin: var(--element-margin, $element-margin) !important;
}

.margin-h {
    margin: 0 var(--element-margin, $element-margin) !important;
}

.margin-v {
    margin: var(--element-margin, $element-margin) 0 !important;
}

.margin-top {
    margin-top: var(--element-margin, $element-margin) !important;
}

.margin-right {
    margin-right: var(--element-margin, $element-margin) !important;
}

.margin-bottom {
    margin-bottom: var(--element-margin, $element-margin) !important;
}

.margin-left {
    margin-left: var(--element-margin, $element-margin) !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.padding {
    padding: var(--element-padding, $element-padding) !important;
}

.padding-h {
    padding: 0 var(--element-padding, $element-padding) !important;
}

.padding-v {
    padding: var(--element-padding, $element-padding) 0 !important;
}

.padding-top {
    padding-top: var(--element-padding, $element-padding) !important;
}

.padding-right {
    padding-right: var(--element-padding, $element-padding) !important;
}

.padding-bottom {
    padding-bottom: var(--element-padding, $element-padding) !important;
}

.padding-left {
    padding-left: var(--element-padding, $element-padding) !important;
}

// HIDDEN AND VISIBLE
// ========================================================

// NOTE: We have to be super-explicit about these rules, and cover every conceivable case, because once
// you have 'display: none' on an element you can't get it back to what it was. Rather, we have to ensure
// that 'display: none' only gets set when the conditions are right and not set in other cases

@media (max-width: $small-screen - 1) {
    .visible-small,
    .visible-medium,
    .visible-large,
    .visible-xlarge {
        display: none !important;
    }
}

@media (min-width: $small-screen) and (max-width: $medium-screen - 1) {
    .hidden-small {
        display: none !important;
    }

    .visible-medium:not(.visible-small),
    .visible-large:not(.visible-small),
    .visible-xlarge:not(.visible-small) {
        display: none !important;
    }

    .visible-small {
        //display: block !important;
        visibility: visible !important;
    }
}

@media (min-width: $medium-screen) and (max-width: $large-screen - 1) {
    .hidden-small:not(.visible-medium) {
        display: none !important;
    }

    .hidden-medium {
        display: none !important;
    }

    .visible-large:not(.visible-medium),
    .visible-xlarge:not(.visible-medium) {
        display: none !important;
    }

    .visible-medium,
    .visible-large,
    .visible-xlarge {
        //display: block !important;
        visibility: visible !important;
    }
}

@media (min-width: $large-screen) and (max-width: $xlarge-screen - 1) {
    .hidden-small:not(.visible-large),
    .hidden-medium:not(.visible-large) {
        display: none !important;
    }

    .hidden-large {
        display: none !important;
    }

    .visible-xlarge:not(.visible-large) {
        display: none !important;
    }

    .visible-large,
    .visible-xlarge {
        //display: block !important;
        visibility: visible !important;
    }
}

@media (min-width: $xlarge-screen) {
    .hidden-small:not(.visible-xlarge),
    .hidden-medium:not(.visible-xlarge),
    .hidden-large:not(.visible-xlarge) {
        display: none !important;
    }

    .hidden-xlarge {
        display: none !important;
    }

    .visible-xlarge {
        //display: block !important;
        visibility: visible !important;
    }
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.visible {
    display: block !important;
    visibility: visible !important;
}

// MISC
// ========================================================

@media print {    
    .no-print,
    .no-print * {
        display: none !important;
    }
}

.cover-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
}
