@import "../../styles/_variables";

// PANEL LAYOUT
// ========================================================

.panel {
    background-color: white;
    border: 1px solid var(--border-color, $border-color);
    border-radius: var(--border-radius, $border-radius);
    margin: 0 0 var(--element-margin, $element-margin);
    padding: var(--element-padding, $element-padding);
}

.panel:last-child {
    margin-bottom: 0;
}

.panel.transparent {
    background-color: transparent;
}

.panel.light {
    background-color: var(--light-back-color, $light-back-color);
}

.panel.dark {
    background-color: var(--dark-back-color, $dark-back-color);
    border-color: var(--dark-back-color, $dark-back-color);
    color: white;
}

.panel.info {
    background-color: var(--info-color, $info-color);
    border-color: var(--info-color, $info-color);
    color: var(--info-text-color, $info-text-color);
}

.card {
    background-color: white;
    border: 1px solid var(--border-color, $border-color);
    margin: -1px 0;
    padding: var(--element-padding, $element-padding);
}
