@import "../../styles/_variables";

.container {
    margin: 0 auto;
    max-width: 120rem;
    width: 100%;
}

.container.small {
    max-width: $small-screen;
}

.container.medium {
    max-width: $medium-screen;
}

.container.large {
    max-width: $large-screen;
}

.container.xlarge {
    max-width: $xlarge-screen;
}

.container.padded {
    padding: var(--element-padding, $element-padding);
}

@media (min-width: $small-screen) {
    .container.padded-sm {
        padding: var(--element-padding, $element-padding);
    }
}

@media (min-width: $medium-screen) {
    .container.padded-md {
        padding: var(--element-padding, $element-padding);
    }
}

@media (min-width: $large-screen) {
    .container.padded-lg {
        padding: var(--element-padding, $element-padding);
    }
}

@media (min-width: $xlarge-screen) {
    .container.padded-xl {
        padding: var(--element-padding, $element-padding);
    }
}
